<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <div class="d-flex flex-nowrap">

        <th:block th:replace="~{/admin/fragment/sideBar :: sideBar}"/>

        <div class="d-flex row flex-fill" th:object="${findInquiry}">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <div class="d-flex flex-row">
                            <div class="col-3">
                                <h6 class="text-2xl m-lg-1">고객문의 상세조회</h6>
                            </div>
                            <div class="d-flex flex-row justify-content-end col-8">
                                <div class="">
                                    <a role="button" class="text-white btn"
                                       style="background-color: #344767;">취소</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="d-flex col">
                            <div class="col-2">
                                <h6 class="text-center mt-2 mb-0">제목</h6>
                                <h6 class="text-center mt-4 mb-0">내용</h6>
                            </div>
                            <div class="col-9">
                                <div class="d-flex flex-row">
                                    <h6 class="mt-2 ms-2" th:text="*{inquiryPostTitle}"></h6>
                                </div>
                                <div class="d-flex flex-row card">
                                    <div id="noticeContent" class="card-body flex-fill" style="min-height: 20rem">

                                    </div>
                                    <script th:inline="javascript">
                                        noticeContent = [[${findInquiry.inquiryPostContent}]];
                                        createTag = document.createElement('h6');
                                        createTag.innerHTML = noticeContent;
                                        document.querySelector('#noticeContent').append(createTag);
                                    </script>
                                </div>
                            </div>
                        </div>
                        <form>
                            <div class="card  mt-2">
                                <div class="card-body px-0 pt-0 pb-1">
                                    <div class="d-flex col">
                                        <div class="col-2">
                                            <h6 class="text-center mt-2 mb-0">답글</h6>
                                        </div>
                                        <div class="col-10">
                                    <textarea type="text" class="form-control w-90"
                                              placeholder="답변내용을 입력하세요"
                                              style="min-height: 10rem; resize: none;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-0 pt-0 pb-2">
                                    <div class="d-flex col-11 justify-content-end">
                                        <input type="submit" class="btn bg-gradient-dark">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>