<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <div class="d-flex flex-nowrap">

        <th:block th:replace="~{/admin/fragment/sideBar :: sideBar}"/>

        <div class="d-flex row flex-fill" th:object="${findInquiry}">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <div class="d-flex flex-row">
                            <div class="col-3">
                                <h6 class="text-2xl m-lg-1">고객문의 상세조회</h6>
                            </div>
                            <div class="d-flex flex-row justify-content-end col-8">
                                <div class="">
                                    <a role="button" class="text-white btn"
                                       th:href="@{/admin/customerInquiry/{pageNum}(pageNum=1,sort='inquiryPostId')}"
                                       style="background-color: #344767;">목록</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="d-flex col">
                            <div class="col-2">
                                <h6 class="text-center mt-2 mb-3 text-secondary">작성자</h6>
                            </div>
                            <div>
                                <th:block th:if="${findInquiry.inquiryPostMemberId ne null}">
                                    <h6 class="text-center mt-2 mb-3 ms-2"
                                        th:text="*{inquiryPostMemberId.getMemLoginId()}"></h6>
                                </th:block>
                                <th:block th:if="${findInquiry.inquiryPostComId ne null}">
                                    <h6 class="text-center mt-2 mb-3 ms-2"
                                        th:text="*{inquiryPostComId.getComLoginId()}"></h6>
                                </th:block>
                            </div>
                            <div class="col-2">
                                <h6 class="text-center mt-2 mb-3 text-secondary">작성일</h6>
                            </div>
                            <h6 class=" mt-2 mb-3 ms-2"
                                th:text="${#temporals.format(findInquiry.inquiryPostPublishedDate,'yyyy-MM-dd hh:mm')}"></h6>
                        </div>
                        <div class="d-flex col">
                            <div class="col-2">
                                <h6 class="text-center mt-2 mb-0 text-secondary">제목</h6>
                                <h6 class="text-center mt-4 mb-0 text-secondary">내용</h6>
                            </div>
                            <div class="col-9">
                                <div class="d-flex flex-row">
                                    <h6 class="mt-2 ms-2" th:text="*{inquiryPostTitle}"></h6>
                                </div>
                                <div class="d-flex flex-row card">
                                    <div id="noticeContent" class="card-body flex-fill p-2" style="min-height: 20rem">
                                        <h6 style="width: 50rem" id="inquiryPostContent">

                                        </h6>
                                    </div>
                                    <script th:inline="javascript">
                                        const inquiryPostContent = [[${findInquiry.inquiryPostContent}]];
                                        inquiryPostContentH6 = document.querySelector('#inquiryPostContent');
                                        inquiryPostContentH6.innerHTML = inquiryPostContent;
                                        document.querySelector('#inquiryPostContent').append(inquiryPostContentH6);
                                    </script>
                                </div>
                            </div>
                        </div>
                        <th:block th:if="${findInquiry.inquiryPostStatus.equals('0')}">
                            <form th:action="@{/admin/customerInquiry/{id}/detail(id=*{inquiryPostId},requestURL=${#request.requestURI})}"
                                  method="post">
                                <div class="card  mt-2">
                                    <div class="card-body px-0 pt-0 pb-1">
                                        <div class="d-flex col">
                                            <div class="col-2">
                                                <h6 class="text-center mt-2 mb-0 text-secondary">답글</h6>
                                            </div>
                                            <div class="col-10">
                                                <th:block th:if="${inquiryPostAnswer eq null}">
                                    <textarea type="text" class="form-control w-90"
                                              placeholder="답변내용을 입력하세요" name="inquiryPostAnswer"
                                              style="min-height: 10rem; resize: none;"></textarea>
                                                </th:block>
                                                <th:block th:if="${inquiryPostAnswer ne null}">
                                                <textarea type="text" class="form-control w-90"
                                                          placeholder="답변내용을 입력하세요" name="inquiryPostAnswer"
                                                          style="min-height: 10rem; resize: none;"></textarea>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body px-0 pt-0 pb-2">
                                        <div class="d-flex col-11 justify-content-end">
                                            <input type="submit" class="btn bg-gradient-dark" value="작성">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </th:block>
                        <th:block th:if="${findInquiry.inquiryPostStatus.equals('1')}">
                            <div class="card mt-2">
                                <div class="card-body px-0 pt-0 pb-1">
                                    <div class="d-flex col">
                                        <div class="col-2">
                                            <h6 class="text-center mt-2 mb-0 text-secondary">답변 내용</h6>
                                        </div>
                                        <div class="col-10">
                                            <div style="width: 50rem;" id="inquiryPostAnswer">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-0 pt-0 pb-2">
                                    <div class="d-flex col-11 justify-content-end">
                                        <button id="updateBtn" role="button" class="btn bg-gradient-dark">수정</button>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">

    const content = [[${findInquiry.inquiryPostAnswer}]];
    let customerInquiryId = [[${findInquiry.inquiryPostId}]];
    $(document).ready(function () {
        $('#updateBtn').click(function () {
            $.ajax({
                url: "/admin/customerInquiry/update",
                type: "get",
                data: {id: customerInquiryId, inquiryPostAnswer: content},

                success: function (data, status, xhr) {
                    location.href = window.location.pathname

                    $("#demo").html(data);
                },
                error: function (xhr, status, error) {
                },
                complete: function (xhr, status) {
                }
            });
        });
    });

    textarea = document.querySelector('#inquiryPostAnswer');
    textarea.innerHTML = content;
    document.querySelector('#inquiryPostAnswer').append(textarea);
</script>
</body>
</html>