<!--ho 22.10.28 작성-->
<th:block th:replace="~{mainPageTemplate ::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="page-header min-vh-80">
            <div class="col-md-0">
                <div class="row">
                    <div class="col-lg-8" style="width : 500px">
                        <div class="text-center pb-0 text-left">
                            <h3 class="font-weight-bolder">비밀번호 변경하기</h3>
                        </div>

                        <form role="form" name="frm" method="post" id="form_change_pw">
                            <br>

                            <div class="">
                                <label>변경할 비밀번호</label>
                                <input type="password" class="form-control" id="comPw1"
                                       name="pw" onkeyup="passwordConfirm()" maxlength="25"
                                       placeholder="Password는 3~25자 사이" required>
                            </div>
                            <label id="password_error"></label>
                            <div>
                                <label>비밀번호 확인</label>
                                <input type="password" class="form-control" id="comPw2"
                                       name="comPw2" maxlength="25"
                                       placeholder="Password 한번더 입력!" required
                                       onkeyup="passwordConfirm()">
                                <!--                <label id="confirmMsg"></label>-->
                            </div>
                                <div class="text-center mt-2"><label id="confirmMsg"></label></div>

                            <div class="col-md-0 mt-1 text-center">
                                <input type="hidden" id="chk" value="none">
                                <button type="button" class="btn bg-gradient-dark w-50"
                                        style="font-size:15px; margin:auto" onclick="btn_passwordChange()">비밀번호 변경
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </th:block>
</th:block>