<th:block th:replace="~{/mainPageTemplate :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container" style="height: 3rem;"></div>
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-9 mx-auto d-flex justify-content-center flex-column">
                    <h3 class="text-center">회원정보 (기업회원용)</h3>
                    <span style="text-align: right; font-size: 14px;"><span
                            style="color: rgb(244, 54, 54);">&nbsp;&ast;</span> 는 필수사항 입니다.</span>
                    <div class="card-body">
                        <form role="form" id="contact-form" name="frm" method="post" autocomplete="off"
                              th:action="@{/com/update}">
                            <fieldset id="btn_target" disabled="disabled">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label th:for="comLoginId">아이디<span
                                                style="color: rgb(244, 54, 54);">&nbsp;(변경불가) </span></label>
                                        <div class="input-group">
                                            <input class="form-control" placeholder="ID는 3~15자 사이"
                                                   th:value="${companyInfo.loginId}"
                                                   name="loginId" id="loginId" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label th:for="comName">기업명<span
                                                style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                        <div class="input-group mb-2">
                                            <input class="form-control" placeholder="기업명" type="text"
                                                   th:value="${companyInfo.comName}" id="comName"
                                                   name="comName" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label th:for="comBusiNum">사업자 등록번호<span
                                                style="color: rgb(244, 54, 54);">&nbsp;&ast;</span><span id="busiNum_alert" style="display:none; color: rgb(244, 54, 54);" >&nbsp ( - 을 넣어 입력해주세요.)</span></label>
                                        <div class="input-group">
                                            <input class="form-control" type="tel" th:value="${companyInfo.comBusiNum}" id="comBusiNum" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');"
                                                   name="comBusiNum" placeholder="000-00-00000" maxlength="12" required>
                                        </div>
                                        <label id="busiNum_error"></label>
                                    </div>
                                    <div class="col-md-6">
                                        <label th:for="comPhone">전화번호<span
                                                style="color: rgb(244, 54, 54);">&nbsp;&ast;</span><span id="phone_alert"
                                                                           style="color: rgb(244, 54, 54); display: none;">&nbsp; ( - 을 포함하여 입력해주세요.)</span></label>
                                        <div class="input-group">
                                            <input type="tel" class="form-control" placeholder="000-0000-0000" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');"
                                                   name="comPhone" id="phone" maxlength="13"
                                                   th:value="${companyInfo.comPhone}" required>
                                        </div>
                                        <label id="phone_error"></label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>기업 분류<span
                                                style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                        <div class="input-group">
                                            <select class="form-select" id="comComdivCode" name="comComdivCode"
                                                    required>
                                                <option selected th:value="${companyInfo.comComdivCode}">
                                                    [[${companyInfo.comComdivName}]] (기본정보)
                                                </option>
                                                <option value="Major">대기업</option>
                                                <option value="Middle">중견기업(300명이상)</option>
                                                <option value="SMEs">중소기업(300명미만)</option>
                                                <option value="StartUp">스타트업</option>
                                                <option value="Foreign">외국계기업</option>
                                                <option value="Public">국내 공공기관/공기업</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label th:for="comEmail">이메일<span
                                                style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control border" placeholder="goodjob"
                                                   name="comEmail1" id="email" th:value="${companyInfo.comEmail1}" onkeyup="emailDuplicationForUpdate()"
                                                   required> &nbsp;@ &nbsp;&nbsp;
                                            <select class="form-select" id="email2" name="comEmail2" style="border-radius: 5px;" onchange="emailDuplicationForUpdate()">
                                                <option selected th:value="${companyInfo.comEmail2}">
                                                    [[${companyInfo.comEmail2}]] (기본정보)
                                                </option>
                                                <option value="naver.com">naver.com</option>
                                                <option value="daum.net">daum.net</option>
                                                <option value="gmail.com">gmail.com</option>
                                            </select>
                                            <span></span>
                                        </div>
                                            <label id="email_error"></label>
                                    </div>
                                </div>

                                <label th:for="comAddress">주소<span
                                        style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                <div class="input-group mb-4">
                                    <input type="text" class="form-control col-md-2 my-2 " name="comAddress1"
                                           th:value="${companyInfo.comAddress1}" onclick="sample6_execDaumPostcode()"
                                           id="sample6_postcode" placeholder="우편번호" readonly required>

                                    <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"
                                           class="btn bg-gradient-dark col-md-auto m-2 findAddress" style="float:right; border-radius: 5px;">


                                    <input type="text" class="form-control col-md-auto my-2 ms-4 ps-2 border" name="comAddress2"
                                           th:value="${companyInfo.comAddress2}" onclick="sample6_execDaumPostcode()"
                                           id="sample6_address" placeholder="주소" style="border-radius: 5px;" readonly required>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group mb-4">
                                            <input type="text" class="form-control" name="comAddress3"
                                                   id="sample6_detailAddress" th:value="${companyInfo.comAddress3}"
                                                   placeholder="상세주소">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb-4">
                                            <input type="text" class="form-control"
                                                   th:value="${companyInfo.comAddress4}"
                                                   id="sample6_extraAddress" name="comAddress4"
                                                   placeholder="참고항목" readonly>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group mb-4">
                                    <label th:for="comInfo">회사 소개<span
                                            style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                    <textarea id="comInfo" name="comInfo" class="form-control"
                                              th:text="${companyInfo.comInfo}"
                                              cols="40" rows="8" required></textarea>
                                </div>
                            </fieldset>

                            <div class="input-group">
                                <div class="col p-0">
                                    <input type="button" value="정보 수정하기" id="btn_modify"
                                           style="display: block" class="btn bg-gradient-dark w-100"></div>
                                <div class="col">
                                    <!--                                    이전으로 돌아가기 위치-->
                                    <input type="button" value="이전으로 돌아가기" onClick="location.href='/com/myPage'" id="btn_hidden" class="btn bg-gradient-dark w-100" hidden>
                                </div>

                                <div class="col">
                                    <button type="button" id="btn_change_pw" data-toggle="modal"
                                            data-target="#confirmPasswordModal3" class="btn bg-gradient-dark w-100"
                                            hidden>비밀번호 변경
                                    </button>
                                </div>
                                <div class="col">
                                    <button type="button" id="modal_open_btn" onclick="btn_change_info()"
                                            data-target="#confirmPasswordModal" class="btn bg-gradient-dark w-100"
                                            hidden>정보 수정완료
                                    </button>
                                </div>
                                <div class="col p-0">
                                    <button type="button" id="modal_open_btn2" data-toggle="modal"
                                            data-target="#confirmPasswordModal2" class="btn bg-gradient-dark w-100">
                                        회원 탈퇴하기
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--                                    수정 전 비밀번호 확인 모달창-->
                    <!-- Modal -->
                    <div class="modal fade" id="confirmPasswordModal" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="justify-content: center"> 비밀번호
                                        확인 </h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;
                                    </button>
                                </div>
                                <div class="modal-body">
                                    비밀번호를 입력하세요.<br/>
                                    <input id="password_confirm" name="pw" type="password" class="form-control mt-3"
                                           placeholder="비밀번호"><br/>
                                    <button id="confirm" class="btn bg-gradient-dark" type="submit" style="float: right">확인
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 회원 탈퇴 전 비밀번호 확인 모달창-->
                    <!-- Modal -->
                    <div class="modal fade" id="confirmPasswordModal2" tabindex="-1"
                         aria-labelledby="exampleModalLabel2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2" style="justify-content: center"> 회원 탈퇴 비밀번호
                                        확인 </h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;
                                    </button>
                                </div>
                                <div class="modal-body">
                                    비밀번호를 입력하세요.<br/>
                                    <input id="delete_password_confirm" name="pw" type="password" class="form-control mt-3"
                                           placeholder="비밀번호"><br/>
                                    <button id="delete_confirm" class="btn bg-gradient-dark" type="button" style="float: right" onclick="deleteCompany2()">확인
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 비밀번호 변경 전 비밀번호 확인 모달창-->
                    <!-- Modal -->
                    <div class="modal fade" id="confirmPasswordModal3" tabindex="-1"
                         aria-labelledby="exampleModalLabel3" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel3" style="justify-content: center"> 비밀번호
                                        확인 </h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;
                                    </button>
                                </div>
                                <div class="modal-body">
                                    비밀번호를 입력하세요.<br/>
                                    <input id="change_password_confirm" name="pw" type="password" class="form-control mt-3"
                                           placeholder="비밀번호"><br/>
                                    <button id="change_confirm" class="btn bg-gradient-dark" type="button" style="float: right">확인
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </th:block>
</th:block>