<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{mainPageTemplate ::setContent(~{this::content})}">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>지원자 관리</title>
    </head>
    <th:block th:fragment="content">
        <div class="container" style="height: 3rem;"></div>
        <div class="container py-4 pb-0">
            <div class="col-lg-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <a th:href="@{/com/myPageApplier/{postId}(postId = ${postId})}"><button type="button" class="form-control btn bg-gradient-dark resumeApplierBTN">1. 서류지원관리</button></a>
                    </div>
                    <div class="col-md-6 mx-auto">
                        <a th:href="@{/com/myPageInterviewee/{postId}(postId = ${postId})}"><button type="button" class="form-control btn bg-gradient-dark intervieweeBTN">2. 면접관리</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="container">
                        <div class="row" style="height: 40px">
                            <div class="col-7">
                                <h5 class="text-bold">지원자관리</h5>
                                <h5 class="text-bold postTitle"></h5>
                                <!--                <label style="color: #cbc8cb">공고 제목과 이력서 제목을 클릭하면 해당 페이지로 이동합니다.</label>-->
                            </div>
                        </div>
                        <div class="container border-bottom" style="height: 2rem;"></div>
                        <input type="hidden" id="postId" th:value="${postId}">
                        <input type="hidden" id="postTitle" th:value="${postTitle}">
                        <table class="table table-hover text-center">
                            <thead class="table-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">성명</th>
                                <th scope="col">지원분야</th>
                                <th scope="col">면접장소</th>
                                <th scope="col">면접날짜</th>
                                <th scope="col">메일전송</th>
                                <th scope="col">결과</th>
                            </tr>
                            </thead>
                            <tbody class="applierTable">

                            </tbody>
                        </table>
                        <div class="noApplier"></div>
                    </div>
                    <ul class="pagination justify-content-center align-items-center">
                        <ul class="pagination">
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <script type="text/javascript" src="/js/companyInterviewApplierListJS.js"></script>
    </th:block>
    </body>
</th:block>
</html>
