<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{mainPageTemplate ::setContent(~{this::content})}">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>지원자 관리</title>
    </head>
    <th:block th:fragment="content">
        <div class="container" style="height: 3rem;"></div>

        <div class="container py-4">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="container text-center border-2">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-bold">작성중</h5>
                                <a th:href="@{/member/myPageResume}"><h5 class="text-decoration-underline resumeCount">
                                    0</h5></a>
                            </div>
                            <div class="col">
                                <h5 class="text-bold">지원완료</h5>
                                <a th:href="@{/member/myPageApply}"><h5 class="text-decoration-underline">0</h5></a>
                            </div>
                            <div class="col">
                                <h5 class="text-bold">최종합격</h5>
                                <a href="#"><h5 class="text-decoration-underline">0</h5></a>
                            </div>
                            <div class="col">
                                <h5 class="text-bold">불합격</h5>
                                <a href="#"><h5 class="text-decoration-underline">0</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="container">
                        <div class="row" style="height: 40px">
                            <div class="col-7">
                                <h5 class="text-bold">지원자관리</h5>
                                <label style="color: #cbc8cb">공고 제목과 이력서 제목을 클릭하면 해당 페이지로 이동합니다.</label>
                            </div>
                            <input type="hidden" th:value="${session.sessionId}" id="sessionInput">
                        </div>
                        <div class="container" style="height: 2rem;"></div>
                        <div class="applierList">
                            
                        </div>
                        <ul class="pagination justify-content-center align-items-center">
                            <ul class="pagination">
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    </body>
</th:block>
</html>
