<!-- 박채원 22.09.30 작성 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/resume/ResumeTemplate ::setContent(~{this::content})}">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>RESUME STEP1</title>
    </head>
    <th:block th:fragment="content">
        <section>
            <div class="container py-4 flex-wrap">
                <div class="row">
                    <div class="col-lg-7 mx-auto" style="width : 1000px">
                        <h3 class="text-center mx-auto">STEP1</h3>
                        &nbsp;
                        <!-- 인적사항  get으로 바꿈 -->
                        <form role="form" id="step1Form" th:method="get" autocomplete="off">
                            <input type="hidden" th:value="${memberInfo.memId}" name="memId">
                            <input type="hidden" id="resumeId" th:value="${resumeId}">
                            <div class="card-body">
                        <span style="float: right; font-size: 14px;"><span
                                style="color: rgb(244, 54, 54);">&nbsp;&ast;</span> 는 필수사항 입니다.</span>
                                <h4 class="text-left">| 인적사항</h4>
                                &nbsp;
                                <div class="row" style="float: inline-start;">
                                    <div class="col-md-6">
                                        <label>성명<span style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" type="text" name="memName"
                                                   th:value="${memberInfo.memName}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>생년월일<span style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" type="date"
                                                   th:value="${memberInfo.memBirthDate}"
                                                   name="memBirthDate" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <label>이메일</label>
                                <label style="float: right;color: red;">이메일을 작성하지 않을 시 합격 연락에 제한이 있을 수 있습니다.</label>
                                <div class="input-group mb-1">
                                    <input class="form-control border" type="text" id="firstEmail" th:value="${memberInfo.memFirstEmail}"
                                           name="memFirstEmail" style="width:45px;" onkeyup="emailDuplication()">&nbsp;@ &nbsp;
                                    <select class="form-select border" id="endEmail" name="memLastEmail" onchange="emailDuplication()">
                                        <option th:value="${memberInfo.memLastEmail}">[[${memberInfo.memLastEmail}]]
                                            (기본정보)
                                        </option>
                                        <option value="naver.com">naver.com</option>
                                        <option value="gmail.com">gmail.com</option>
                                        <option value="daum.net">daum.net</option>
                                    </select>
                                </div>
                                <label id="emailValiDiv"></label>
                            </div>
                            <div class="row" style="float: inline-start;">
                                <div class="col-md-6" >
                                    <label>휴대폰 번호<span style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                    <div class="input-group mb-1">
                                        <select class="form-select border" id="startPhoneNum" name="memFirstPhoneNum" style="width: 100px;"
                                                required>
                                            <option th:value="${memberInfo.memFirstPhoneNum}">
                                                [[${memberInfo.memFirstPhoneNum}]] (기본정보)
                                            </option>
                                            <option value="010">010</option>
                                            <option value="011">011</option>
                                            <option value="070">070</option>
                                        </select>
                                        &nbsp;&nbsp;-&nbsp;&nbsp;
                                        <input class="form-control border" placeholder="가운데 자리" type="text" style="width: 100px;"
                                               th:value="${memberInfo.getMemMiddlePhoneNum()}"
                                               id="memMiddlePhoneNum"
                                               name="memMiddlePhoneNum"
                                               onfocusout="isFourNumber(document.getElementById('memMiddlePhoneNum'))"
                                               required>
                                        &nbsp; &nbsp;-&nbsp;&nbsp;
                                        <input class="form-control border" placeholder="마지막 자리" type="text" style="width: 100px;"
                                               th:value="${memberInfo.getMemLastPhoneNum()}" id="memLastPhoneNum"
                                               name="memLastPhoneNum"
                                               onfocusout="isFourNumber(document.getElementById('memLastPhoneNum'))"
                                               required>
                                        <label id="phoneNumValiDiv"></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>성별<span style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                    <div class="input-group">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="memGender" value="남"
                                                   th:checked="${memberInfo.memGender eq '남'}" id="genderM">
                                            <label class="form-check-label">남자</label>
                                        </div>&nbsp;&nbsp;
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="memGender" value="여"
                                                   th:checked="${memberInfo.memGender eq '여'}" id="genderF">
                                            <label class="form-check-label">여자</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6" >
                                    <label>주소</label>
                                    <div class="input-group">
                                        <input class="form-control" type="text" id="userAddress"
                                               onclick="execPostCode()" th:value="${memberInfo.memFirstAddress}"
                                               readonly
                                               name="memFirstAddress">
                                    </div>
                                </div>
                                <div class="col-md-2" style="margin-left: 0px;">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn bg-gradient-dark w-100 findAddress"
                                            onclick="execPostCode()">주소찾기
                                    </button>
                                </div>
                                <div class="col-md-4" >
                                    <label>상세주소</label>
                                    <div class="input-group mb-4">
                                        <input class="form-control" type="text" id="userDetailAddress"
                                               th:value="${memberInfo.memLastAddress}" name="memLastAddress">
                                    </div>
                                </div>
                            </div>

                            <!-- 학적사항 -->
                            <div style="height: 30px;"></div>
                            <div class="card-body">
                                <span style="float: right; font-size: 14px;">고졸 이하의 경우 학교명은 '고졸이하', 전공은 '없음'을 검색해 주세요.</span>
                                <h4 class="text-left">| 학적</h4>
                                &nbsp;
                                <div class="row" style="float: inline-start;">
                                    <div class="col-md-6">
                                        <label>학교명<span style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="schoolName" id="schoolName"
                                                   readonly>
                                        </div>
                                        <label id="schoolNameValiDiv"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label>&nbsp;</label>
                                        <button type="button" class="btn bg-gradient-dark w-100" data-bs-toggle="modal"
                                                data-bs-target="#findSchoolModal">학교찾기
                                        </button>
                                    </div>
                                    <div class="col-md-4">
                                        <label>졸업년월<span style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                        <div class="input-group mb-1">
                                            <input class="form-control eduGraduationDate" placeholder="YYYY-MM-DD"
                                                   type="date" name="eduGraduationDate" max="" onchange="confirmValidGradDate()">
                                        </div>
                                        <label id="graduDateValiDiv"></label>
                                    </div>
                                </div>
                                <div class="row" style="float: inline-start;">
                                    <div class="col-md-6">
                                        <label>전공<span style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="majorName" id="majorName"
                                                   readonly>
                                        </div>
                                        <label id="majorNameValiDiv"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label>&nbsp;</label>
                                        <button type="button" class="btn bg-gradient-dark w-100" data-bs-toggle="modal"
                                                data-bs-target="#findMajorModal">전공찾기
                                        </button>
                                    </div>
                                    <div class="col-md-6" style="width: 150px;">
                                        <label>학점</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" type="text" id="eduGetCredit"
                                                   name="eduGetCredit" onchange="rangeCredit()">
                                        </div>
                                    </div>
                                    <div class="col-mb-6" style="width: 5px;">
                                        <label>&nbsp;</label>
                                        /
                                    </div>
                                    <div class="col-md-6" style="width: 150px;">
                                        <label>&nbsp;</label>
                                        <div class="input-group mb-4">
                                            <select class="form-select" id="eduTotalCredit" name="eduTotalCredit" onchange="rangeCredit()">
                                                <option value="/4.5">4.5</option>
                                                <option value="/4.3">4.3</option>
                                                <option value="/4.0">4.0</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 50px;"></div>
                                <div class="col-md-6 mx-auto">
                                    <button type="button" id="submitStep1" class="btn bg-gradient-dark w-100">저장 후 STEP 2로</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Find School Modal -->
        <div class="modal fade" id="findSchoolModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">학교 찾기</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="float: inline-start;">
                            <div class="col-md-6" style="width: 350px;">
                                <div class="input-group mb-4">
                                    <input class="form-control findSchoolName" type="text" placeholder="학교명 입력">
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-left: 0px;">
                                <button type="button" class="btn bg-gradient-dark w-100 findSchool">검색</button>
                            </div>
                            <div class="schoolList">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn bg-gradient-dark close" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn bg-gradient-dark doneFindSchool" data-bs-dismiss="modal">
                            완료
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Find Major Modal -->
        <div class="modal fade" id="findMajorModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">전공 찾기</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="float: inline-start;">
                            <div class="col-md-6" style="width: 350px;">
                                <div class="input-group mb-4">
                                    <input class="form-control findMajorName" type="text" placeholder="전공 입력">
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-left: 0px;">
                                <button type="button" class="btn bg-gradient-dark w-100 findMajor">검색</button>
                            </div>
                            <div class="majorList">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn bg-gradient-dark close" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn bg-gradient-dark doneFindMajor" data-bs-dismiss="modal">완료
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
</html>