<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/resume/ResumeTemplate ::setContent(~{this::content})}">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>RESUME STEP2</title>
    </head>
    <th:block th:fragment="content">
        <section>
            <div class="container py-4 flex-wrap" style="align-content: center">
                <div class="row">
                    <div class="col-lg-7 mx-auto" style="width : 1100px">
                        <h3 class="text-center mx-auto">STEP2</h3>
                        &nbsp;
                        <form role="form" id="contact-form" method="get" autocomplete="off">
                            <input type="hidden" th:value="${resumeId}" name="resumeId">
                            <div class="card-body">
                                <span style="float: right; font-size: 14px;">자격증이 없는 경우, '없음'을 검색해 주세요.</span>
                                <h4 class="text-left">| 자격증</h4>
                                &nbsp;
                                <div class="row" style="float: inline-start;">
                                    <div class="col-md-6" style="width: 400px;">
                                        <label>자격증명</label>
                                        <div class="input-group mb-1">
                                            <input class="form-control" type="text" name="certificateName"
                                                   id="certificateName0" readonly>
                                        </div>
                                        <label id="certiNameValiDiv"></label>
                                    </div>
                                    <div class="col-md-2" style="margin-left: 0px;">
                                        <label>&nbsp;</label>
                                        <button type="button" class="btn bg-gradient-dark w-100" id="findCertiBtn"
                                                data-bs-toggle="modal" data-bs-target="#findCertiModal"
                                                onclick="getInputId(this)">자격증찾기
                                        </button>
                                    </div>
                                    <div class="col-md-6" style="width: 200px;">
                                        <label>취득년월</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control certiGetDate" type="date" name="certiGetDate"
                                                   max="">
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="width: 200px;">
                                        <label>점수</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" type="text" name="certiScore">
                                        </div>
                                    </div>

                                    <div class="addCertiInfoList"></div>
                                    <div class="col-md-6 mx-auto">
                                        <button type="button" class="btn btn-outline-secondary w-100 addCertiInfo">자격증 추가
                                        </button>
                                    </div>
                                </div>


                                <div style="height: 30px;"></div>
                                <div class="card-body">
                                    <h4 class="text-left">| 경력사항</h4>
                                    &nbsp;
                                    <div class="row" style="float: inline-start;">
                                        <div class="col-md-6">
                                            <label>회사명</label>
                                            <div class="input-group mb-4">
                                                <input class="form-control" type="text" name="careerCompanyName">
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="width: 200px;">
                                            <label>근무기간</label>
                                            <div class="input-group mb-4">
                                                <input class="form-control careerJoinedDate" id="careerJoinedDate"
                                                       type="date" name="careerJoinedDate">
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="width: 5px;">
                                            <label>&nbsp;</label>
                                            ~
                                        </div>
                                        <div class="col-md-2" style="width: 200px;">
                                            <label>&nbsp;</label>
                                            <div class="input-group mb-4">
                                                <input class="form-control careerRetireDate" type="date"
                                                       name="careerRetireDate" min="" max="" onclick="rangeDate(this)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label>주요업무</label>
                                        <textarea class="form-control" placeholder="근무했던 부서 및 담당 업무를 간단하게 작성해 주세요."
                                                  id="message" rows="3" name="careerTask"></textarea>
                                    </div>
                                    <div class="addCareerInfoList"></div>
                                    <div class="col-md-6 mx-auto">
                                        <button type="button" class="btn btn-outline-secondary w-100 addCareerInfo">경력사항
                                            추가
                                        </button>
                                    </div>
                                    <div style="height: 50px;"></div>
                                    <div class="row">
                                        <div class="col-md-6 mx-auto">
                                            <button type="button" class="btn bg-gradient-dark w-100" id="goBackStep1">이전
                                            </button>
                                        </div>
                                        <div class="col-md-6 mx-auto">
                                            <button type="button" class="btn bg-gradient-dark w-100" id="submitStep2">저장 후
                                                STEP 3로
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Find Certification Modal -->
        <div class="modal fade" id="findCertiModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <input type="hidden" id="modalId">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">자격증 찾기</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="float: inline-start;">
                            <div class="col-md-6" style="width: 350px;">
                                <div class="input-group mb-4">
                                    <input class="form-control findCertiName" type="text" placeholder="자격증명 입력">
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-left: 0px;">
                                <button type="button" class="btn bg-gradient-dark w-100 findCerti">검색</button>
                            </div>
                            <div class="certiList">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn bg-gradient-dark close" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn bg-gradient-dark doneFindCerti" data-bs-dismiss="modal">완료
                        </button>
                    </div>
                </div>
            </div>
        </div>
<!--        <body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">-->
    </th:block>
</th:block>
</html>