<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <div class="d-flex flex-nowrap">

        <th:block th:replace="~{/admin/fragment/sideBar :: sideBar}"/>

        <div class="d-flex row flex-fill" th:object="${notice}">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <div class="d-flex flex-row">
                            <div class="col-3">
                                <h6 class="text-2xl m-lg-1">공지사항 상세조회</h6>
                            </div>
                            <div class="d-flex flex-row justify-content-end col-8">
                                <div class="">
                                    <a role="button" class="text-white btn"
                                       th:href="@{/admin/notice/{noticeId}/update(noticeId=*{noticeId})}"
                                            style="background-color: #344767;">수정
                                    </a>
                                    <a role="button" class="text-white btn"
                                       th:href="@{/admin/notice/{pageNum}(pageNum=1)}"
                                       style="background-color: #344767;">취소</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="d-flex col">
                            <div class="col-2">
                                <h6 class="text-center mt-2 mb-0">제목</h6>
                                <h6 class="text-center mt-4 mb-0">내용</h6>
                            </div>
                            <div class="col-9">
                                <div class="d-flex flex-row">
                                    <p class="mt-2" th:text="*{noticeTitle}">asd</p>
                                </div>
                                <div class="d-flex flex-row card">
                                    <div id="noticeContent" class="card-body flex-fill" style="min-height: 60rem">
                                    </div>
                                </div>
                                <script th:inline="javascript">
                                    noticeContent = [[${notice.noticeContent}]];
                                    createTag = document.createElement('div');
                                    createTag.innerHTML = noticeContent;
                                    document.querySelector('#noticeContent').append(createTag);
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>

</script>
</body>
</html>