<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/mainPageTemplate ::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container py-4 px-5">
            <div class="px-5">
                <div class="d-flex flex-row">
                    <a class="btn" style="width: 20%;" role="button" th:href="@{/customerInquiry}">
                        GOODJOB 소개
                    </a>
                    <a class="btn" style="width: 20%;" role="button" th:href="@{/customerInquiry/faq}">
                        자주 묻는 질문
                    </a>
                    <a class="btn" style="width: 20%;" role="button" th:href="@{/customerInquiry/qna}">
                        1:1 문의
                    </a>
                    <a class="btn" style="width: 20%;" role="button" th:href="@{/customerInquiry/notice/{pageNum}(pageNum=1)}">
                        공지사항
                    </a>
                    <a class="btn" style="width: 20%;"  role="button" th:href="@{/customerInquiry/policy}">
                        통합서비스 이용약관
                    </a>
                </div>
                <section class="section section_1 story mt-5">
                    <div class="container">
                        <div class="d-flex flex-fill">
                            <div class="col-3"><h1>🌱<br>우리는 때로 <br>무언가를 배워야만 <br>합니다.</h1></div>
                            <div class="col-9">
                                <br><br>
                                <p>꿈을 이루기 위해서, 하고 싶은걸 해나가기 위해선 그 분야에 대한 배움이 가장 기본적인 요소이기 때문입니다.
                                    하지만, 모두에게 배우기 좋은 환경이 보장 되진 않죠.</p>
                                <p>너무 비싸서, 거리가 멀어서.. 여러 이유로 당연하다고 생각되어 지는것들이 어떤 누군가에게는 사치가 되기도 합니다.
                                    그런 현실에 도전하려 합니다.
                                    GOODJOB은 누구나, 경제적으로 시간적 제약없이 내가 원하는 것을 배우고, 지식을 나눌 수 있는 공간입니다.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <hr class="border-top">
                <section class="section section_2 story">
                    <div class="container">
                        <div class="d-flex flex-fill">
                            <div class="col-3"><h1><svg id="brandicon" width="24px" height="24px" data-name="레이어 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><defs><style>.cls-1{fill:#2ec276;}</style></defs><title>inflearn_logo_w</title><path class="cls-1" d="M202.73,67.73a95.84,95.84,0,0,0-36.51-28A92.55,92.55,0,0,0,130.63,32c-.47,0-.94,0-1.42,0H128a96,96,0,0,0,0,192h96V128A95.57,95.57,0,0,0,202.73,67.73ZM64.81,170.54l0,0A76.18,76.18,0,1,1,204.16,128v40.88l-.22,25.69-70.22-71.41L149.2,80.44A7,7,0,0,0,136,75.66l-13.18,36.4L99.52,88.38a7,7,0,0,0-10,9.85l55.26,56.19H103.05a7,7,0,0,0,0,14.05h55.53l35.1,35.69H134.45l-6.92-.06a74.76,74.76,0,0,1-29.59-6.21,77.45,77.45,0,0,1-32.42-26.33Z"></path></svg><br>GOODJOB의 <br>약속</h1></div>
                            <div class="col-9"><br><h2>전문성</h2>
                                <p>수년~십수년씩 커리어를 쌓고 노력해온 지식공유자들이 지식과 노하우를 공유합니다. 당장 좋은 사수가 없거나, 교육을 받지 못하더라도 걱정하지 마세요. GOODJOB에서 전문가들에게서 지식과 노하우를 배울 수 있습니다.</p>
                                <p>&nbsp;</p>
                                <h2>올바름에 대한 추구</h2>
                                <p>GOODJOB은 눈앞의 돈을 쫓기 보다는 옳은 방향을 찾기위해 노력합니다. GOODJOB은 다른 곳들과는 달리 수강생수, 강의평가 등을 조작이나 선별 없이 공개합니다. 이는 학습자들이 더 좋은 경험을 스스로 찾아서 하게 만들고, 지식공유자가 더 좋은 학습 콘텐츠를 만들 수 있도록 도와준다고 생각합니다. 학습자, 지식공유자 모두에게 장기적으로 도움이 되는 생태계를 만들기 위해 노력합니다.<br><br></p>
                                <h2>다양성과 경제성</h2>
                                <p>학교에서 배우기 어렵거나, 큰 비용을 지불해야만 배울 수 있는 전문적인 지식들을 제공합니다. 우리의 삶은 다양하고, 그만큼 다양한 꿈을 꿀 수 있습니다. GOODJOB은 다양한 꿈을 이룰 수 있는 폭 넓고 깊은 지식을 전달하려 노력하겠습니다. 오픈 플랫폼의 이점을 통해 다양성과 경제성을 모두 높입니다.</p>
                                <p>&nbsp;&nbsp;</p>
                                <h2>마케팅보다 좋은 콘텐츠에</h2>
                                <p>마케팅보다는 좋은 콘텐츠에 집중합니다. 좋지 않은 콘텐츠라도 홍보와 포장을 통해 이윤을 남길 수 있지만, 우리는 콘텐츠에 집중합니다. 좋은 콘텐츠를 통해 자연스럽게 알려지고, 소개하게 되어 모두 함께 성장하는 공간을 만들겠습니다.</p></div>
                        </div>
                    </div>
                </section>
                <hr class="border-top">
                <section class="section section_3 story">
                    <div class="container">
                        <div class="d-flex flex-fill">
                            <div class="col-3"><h1>💌<br>만든이의 <br>편지</h1></div>
                            <div class="col-9"><h2>오늘은 어떤 하루를 보내고 계신가요?</h2>
                                <p>예전에, 문득 게임을 하다가 '나도 이런 게임을 만들고 싶다'라는 생각을 했고, 게임 개발을 배우기 위해 이곳 저곳을 알아보았으나, 비싼 교육비와 참여하기 힘든 국비교육으로 마음을 접어야 했습니다.</p>
                                <p>하지만 이런 불편함을 겪는 사람은 저 뿐만이 아니었고, 배우고 싶은 것을 마음대로 배울 수 없는 현실을 극복하고 싶었습니다. 이런 생각에 많은 분들이 공감을 해주셨고 도움을 주셨어요. 덕분에 비슷한 경험, 생각을 가진 사람들이 모여 지금의 GOODJOB이 만들어 질 수 있었어요.</p>
                                <p>앞으로도 GOODJOB이 배우고 싶은 것을 포기하기 않고 꿈을 이룰 수 있는 장소가 되었으면 합니다.</p>
                                <p>경제적으로, 언제 어디서나 학습가능한 생태계를 만들어 누구나 성장의 기회를 평등하게 갖도록 돕는게 GOODJOB의 목표입니다.</p>
                                <p>GOODJOB에서 필요한 것을 배우고 익힌다면 그 자체로 저희에게 의미가 있는 일이라고 생각합니다. 배우고, 익히고, 가능하다면 다른 필요한 분들에게 자신의 지식을 나눠주고..<br>그렇게 된다면 정말 멋지겠네요.😁</p>
                                <p>여러분이 한 단계 발전하는데 GOODJOB이 보탬이 되었으면 좋겠어요.<br>당신의 성장을 늘 응원하겠습니다.</p>
                                <p>함께해 주셔서 감사합니다.</p><p class="from_inflearn">GOODJOB 올림</p></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </th:block>
</th:block>