<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/mainPageTemplate ::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container py-4 px-5">
            <div class="px-5">
                <div class="d-flex flex-row">
                    <a class="col-3 btn" role="button" th:href="@{/customerInquiry}">
                        GOODJOB 소개
                    </a>
                    <a class="col-3 btn" role="button" th:href="@{/customerInquiry/faq}">
                        자주 묻는 질문
                    </a>
                    <a class="col-3 btn" role="button" th:href="@{/customerInquiry/qna}">
                        1:1 문의
                    </a>
                    <a class="col-3 btn" role="button" th:href="@{/customerInquiry/policy}">
                        통합서비스 이용약관
                    </a>
                </div>
                <form th:action="@{/customerInquiry/qna}" method="post">
                    <div class="d-flex flex-fill mt-5">
                        <div class="d-flex flex-fill">
                            <div class="d-flex flex-fill col">
                                <div class="col-2">
                                    <label for="customerInquiryType">카테고리</label>
                                    <select type="input" id="customerInquiryType"
                                            style="height: 2.5rem" name="inquiryPostCategory"
                                            class="form-select form-select-sm border-radius-section border-2">
                                        <option value="GENERAL">일반문의</option>
                                        <option value="CORRECTION">이메일 및 기타 수정요청</option>
                                        <option value="REPORT">허위신고</option>
                                        <option value="ETC">기타문의</option>
                                    </select>
                                </div>
                                <div class="col-10">
                                    <label for="customerInquiryTitle">제목</label>
                                    <input type="text" class="form-control"
                                           id="customerInquiryTitle" name="inquiryPostTitle">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-fill col">
                        <div class="col-12">
                            <label for="customerInquiryContent">내용</label>
                        <textarea type="text" id="customerInquiryContent"
                                  style="resize: none; min-height: 10rem"
                                  name="inquiryPostContent"
                                  class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="d-flex flex-fill col mt-3 justify-content-center">
                        <div class="d-flex col-12 justify-content-center">
                            <button class="btn bg-gradient-dark me-1" type="submit">작성</button>
                            <button class="btn bg-gradient-dark ms-1" type="button">취소</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </th:block>
</th:block>