<th:block th:replace="~{mainPageTemplate ::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="page-header min-vh-100">
            <div class="col-md-0">
                <div class="row">
                    <div class="col-lg-7" style="width : 500px">
                        <div class="text-center pb-0 text-left">
                            <h3 class="font-weight-bolder">비밀번호 변경하기</h3>
                        </div>

                        <form role="form" id="changePassword" method="post" th:action="@{/member/changePassword}" th:object="${memberPwDTO}">
                            <br>
                            <input class="form-control" type="hidden" id="id" name="loginId" th:value="${session.sessionId}" readonly>
                            <div class="mb-3">
                                <!--                <div th:replace="/member/formErrors :: formErrorsFragment"></div>-->
                                <label>변경할 비밀번호</label>
                                <input type="hidden" id="memId" name="memId" th:value="${changePwMem}">
                                <input type="password" class="form-control form-control-lg" id="pw1" th:field="*{pw}"onkeyup="test()" name="pw1" required>
                            </div>
                            <div class="mb-3">
                                <label>비밀번호 확인</label>
                                <input type="password" id="pw2" name="pw2" onkeyup="test()" th:field="*{pw2}"class="form-control form-control-lg" required><br/>
                                <div class="text-center"><label id="confirmMsg"></label></div>
                            </div>
                            <div class="col-md-0 text-center">
                                <div class="row mx-auto">
                                    <div class="col">
                                        <button type="button" id="changePw_btn"class="btn bg-gradient-dark" onclick="passwordChange()">확인</button>
                                    </div>
                                    <div class="col">
                                        <button type="button" id="return"class="btn bg-gradient-dark" data-dismiss="modal" >취소</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </th:block>
</th:block>