<!--김도현 10.25 수정 (header,footer 반영)-->
<th:block th:replace="~{/mainPageTemplate ::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container" style="height: 3rem;"></div>
        <div class="container py-4" >
            <div class="row" >
                <div class="col-lg-10 mx-auto" style="width : 1000px">
                    <form role="form" id="formUpdate" method="post" th:action="@{/member/myPageInfo}">
                        <h3 class="text-center">회원 개인정보 수정</h3>
                        <div class="card-body">
                            <span style="float: right; font-size: 14px;"><span style="color: rgb(244, 54, 54);">&nbsp;&ast;</span> 는 필수사항 입니다.</span><br/>
                            <fieldset id="dis" disabled="disabled">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>아이디<span style="color: rgb(244, 54, 54);">&nbsp;(변경불가) </span></label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" type="text" id="id" name="loginId" th:value="${session.sessionId}" readonly>
                                            <input type="hidden" id="memId" name="memId" th:value="${memberInfo.memId}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>성별<span style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                        <div class="input-group mb-4">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="memGender" value="남" th:checked="${memberInfo.memGender eq '남'}" id="genderM" >
                                                <label class="form-check-label">남자</label>
                                            </div>&nbsp;&nbsp;
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="memGender" value="여" th:checked="${memberInfo.memGender eq '여'}" id="genderF" >
                                                <label class="form-check-label">여자</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>이름<span style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="name" type="text" name="memName" th:value="${memberInfo.memName}" required >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>생년월일<span style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" type="date" name="memBirthDate" id="bday" th:value="${memberInfo.memBirthDate}" required >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>전화번호<span style="color: rgb(244, 54, 54);">&nbsp;&ast; ( - 을 포함하여 입력해주세요.)</span></label>
                                        <div class="input-group">
                                            <input type="tel" class="form-control" placeholder="000-0000-0000" name="memPhone" th:value="${memberInfo.memPhone}"
                                                   id="phoneCheck" onkeyup="checkPhone()" required>
                                        </div>
                                        <label id="phone_error"></label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>이메일<span style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                        <div class="input-group">
                                            <input class="form-control border" type="text" th:value="${memberInfo.memEmail1}" name="memEmail1" required
                                                   onchange="updateCheckEmail()" id="signUpEmail">
                                            &nbsp;@&nbsp;
                                            <select class="form-select border" name="memEmail2" id="emailSelect" required onchange="updateCheckEmail()" style="border-radius: 5px;" >
                                                <option th:value="${memberInfo.memEmail2}">[[${memberInfo.memEmail2}]] (기본정보)</option>
                                                <option value="naver.com">naver.com</option>
                                                <option value="gmail.com">gmail.com</option>
                                                <option value="daum.net">daum.net</option>
                                            </select>
                                        </div>
                                        <label id="emailCheckMassage"></label>
                                    </div>

                                    <div class="col-md-6">
                                        <label>주소<span style="color: rgb(244, 54, 54);">&nbsp;&ast;</span></label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" type="text" id="userAddress" required
                                                   onclick="execPostCode()" th:value="${memberInfo.memAddress}" name="memAddress" >
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="margin-left: 0px;">
                                        <label>&nbsp;</label>
                                        <button type="button" class="btn bg-gradient-dark w-100 findAddress"
                                                onclick="execPostCode()">주소찾기
                                        </button>
                                    </div>
                                    <div class="col-md-4" style="margin-left: 0px;">
                                        <label>상세주소</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" type="text" id="userDetailAddress" th:value="${memberInfo.detailAddress}" name="detailAddress" >
                                        </div>
                                    </div>

                                </div>
                            </fieldset>
                            <label>&nbsp;</label>
                            <div class="row">
                                <div class="col">
                                    <button type="button" id="bb" class="btn bg-gradient-dark w-100 "  style="font-size:15px" >수정</button>
                                    <div id="realUpdate"></div>
                                </div>
                                <div class="col">
                                    <button type="button" id="changePw" class="btn bg-gradient-dark w-100 "style="font-size:15px"data-target="#change" data-toggle="modal">비밀번호 변경</button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn bg-gradient-dark w-100 "style="font-size:15px"data-target="#delete" data-toggle="modal">회원탈퇴</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <input type="hidden" id = "emailNo">
                    <!--개인정보 수정 Modal -->
                    <div class="modal fade" id="pwCheck" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">비밀번호 확인</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <label text="비밀번호"> </label>
                                    <input id="pw" type="password" name="pw" class="form-control">
                                    <div class="d-flex justify-content-center">
                                        <button id="updatebtn" type="button" class="btn bg-gradient-dark mt-3">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 회원탈퇴 Modal -->
                    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">비밀번호 확인</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <label text="비밀번호"> </label>
                                   <p style="color: red">* 회원탈퇴 시 기존 작성된 이력서는 삭제되고 지원이력은 보관됩니다.</p>
                                    <input id="deletePw" type="password" name="deletePw" class="form-control">
                                    <div class="d-flex justify-content-center">
                                        <button id="deletebtn" type="button"onclick="deleteMember()" class="btn bg-gradient-dark mt-3">확인</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 비번변경 v2 Modal -->
                    <div class="modal fade" id="change" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">비밀번호 확인</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form id="changePwForm" >
                                    <label text="비밀번호"> </label>
                                    <input id="checkPw" type="password" name="checkPw" class="form-control">
                                    <div class="d-flex justify-content-center">
                                        <button id="changePwCheck" type="button" class="btn bg-gradient-dark mt-3">확인</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </th:block>
</th:block>
