<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{mainPageTemplate ::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container" style="height: 3rem;"></div>

        <div class="container py-4">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="container text-center" style="border:1px solid #344767; padding-top: 24px; padding-bottom: 24px; border-radius: 1rem;">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-bold">내 이력서</h5>
                                <a th:href="@{/member/myPageResume}"><h5 class="text-decoration-underline resumeCount"></h5></a>
                            </div>
                            <div class="col">
                                <h5 class="text-bold">지원완료</h5>
                                <a th:href="@{/member/myPageApply}"><h5 class="text-decoration-underline applyCount"></h5></a>
                            </div>
                            <div class="col">
                                <h5 class="text-bold">최종합격</h5>
                                <a href="#"><h5 class="text-decoration-underline passCount"></h5></a>
                            </div>
                            <div class="col">
                                <h5 class="text-bold">불합격</h5>
                                <a href="#"><h5 class="text-decoration-underline unPassCount"></h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="container">
                        <div class="row" style="height: 40px">
                            <div class="col-7">
                                <h5 class="text-bold">지원현황</h5>
                                <label style="color: #cbc8cb">공고 제목과 이력서 제목을 클릭하면 해당 페이지로 이동합니다.</label>
                            </div>
                            <input type="hidden" th:value="${session.sessionId}" id="sessionInput">
                        </div>
                        <div class="container" style="height: 2rem;"></div>
                        <table class="table text-center table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">공고명</th>
                                <th scope="col">회사명</th>
                                <th scope="col">이력서제목</th>
                                <th scope="col">지원날짜</th>
                                <th scope="col">결과</th>
                            </tr>
                            </thead>
                            <tbody class="applyTable">

                            </tbody>
                        </table>
                        <div class="noData"></div>
                        <ul class="pagination justify-content-center align-items-center">
                            <ul class="pagination">
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    </body>
</th:block>
</html>
