<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/mainPageTemplate ::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container" style="height: 3rem;"></div>

        <div class="container py-4">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="container text-center" style="border:1px solid #344767; padding-top: 24px; padding-bottom: 24px; border-radius: 1rem;">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-bold">내 이력서</h5>
                                <a th:href="@{/member/myPageResume}"><h5 class="text-decoration-underline resumeCount"></h5></a>
                            </div>
                            <div class="col">
                                <h5 class="text-bold">지원완료</h5>
                                <a th:href="@{/member/myPageApply}"><h5 class="text-decoration-underline applyCount"></h5></a>
                            </div>
                            <div class="col">
                                <h5 class="text-bold">최종합격</h5>
                                <a href="#"><h5 class="text-decoration-underline passCount"></h5></a>
                            </div>
                            <div class="col">
                                <h5 class="text-bold">불합격</h5>
                                <a href="#"><h5 class="text-decoration-underline unPassCount"></h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="container">
                        <div class="row" style="height: 40px">
                            <div class="col-7">
                                <h5 class="text-bold">내 이력서</h5>
                                <label style="color: #cbc8cb">제목을 클릭하면 제목을 변경할 수 있습니다.</label>
                            </div>
                            <div class="col-5">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-outline-primary me-md-2 btn-sm" type="button"
                                            id="registerResume">새 이력서 등록
                                    </button>
                                    <button class="btn btn-outline-danger btn-sm" type="button"
                                            onclick="deleteCheckedResume()">선택삭제
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="container border-bottom" style="height: 2rem;"></div>
<!--                        <div class="container" style="height: 2rem;"></div>-->
                        <input type="hidden" th:value="${session.sessionId}" id="sessionInput">
                        <div class="container resumeList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    </body>
</th:block>
</html>
