<th:block th:replace="~{mainPageTemplate ::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container py-4 flex-wrap">
            <section class="row comMyPage-post-search">
                <form th:action="@{/post/comMyPagePost}" class="comMyPage-post-search-form" >
                <input type="hidden" name="page" th:value="${pageRequestDTO.page}" class="changePageInput">


                <div class=" col-lg-12 row  align-items-center" >
                    <div class="col-lg-12 comMyPage-post-search-title">
                        <h1> [[${sessionLoginId}]]님의 모집 공고 관리 페이지입니다 </h1>
                        <button type="button" class="btn bg-gradient-dark comMyPage-post-search-title-btn" th:onclick="|location.href='@{/post/savePost}'|">공고 등록</button>
                    </div>
                </div>
                <div class="col-lg-12 comMyPage-post-search-status_select_box">
                    <span>표시전환 :</span>
                    <ul>
                        <li>
                            <a href="javascript:void(0);" onclick="comMyPagePost.formSubmitChangeOutOfDateState('all')">전체 공고</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="comMyPagePost.formSubmitChangeOutOfDateState('active')">모집중</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="comMyPagePost.formSubmitChangeOutOfDateState('beforeStart')">모집시작전</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="comMyPagePost.formSubmitChangeOutOfDateState('afterEnd')">모집종료</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="comMyPagePost.formSubmitChangeOutOfDateState('beforeAfter')">모집시작전 또는 모집종료</a>
                        </li>
                    </ul>
                    <input type="hidden" name="outOfDateState" th:value="${pageRequestDTO.outOfDateState}" class="changeOutOfDateStateInput">
                </div>


                <div class="col-lg-12 comMyPage-post-search-search_box">
                    <span> 검색 : </span>
                    <input type="hidden" name="type" value="titleCompanyName">
                    <input class="comMyPage-post-search-search_input" name="keyword" type="text" placeholder="Title or Company Name" th:value="${pageRequestDTO.keyword}">
                    <input class="comMyPage-post-search-search_submit btn bg-gradient-dark" type="submit" value="검색">
                    <button class="btn bg-gradient-dark comMyPage-post-search-clear_btn">초기화</button>
                    <span th:if="${result.totalCount}==0">조회된 결과가 없습니다.</span>
                    <span th:if="${result.totalCount}>0">총 [[${result.totalCount}]]건의 결과가 조회되었습니다.</span>
                </div>

                <div class="col-lg-12 d-flex comMyPage-post-search-option_box">
                    <span>검색 추가설정 : </span>
                    <select class=" comMyPage-post-select" name="filterOccupation" onchange="comMyPagePost.formSubmit()">
                        <option value="" >직종</option>
                        <th:block th:each="occupation :${occList}">
                            <option th:value="${occupation.occName}" th:selected="${pageRequestDTO.filterOccupation} == ${occupation.occName}"> [[${occupation.occName}]]</option>
                        </th:block>
                    </select>
                    <select class=" comMyPage-post-select" name="filterRegion" onchange="comMyPagePost.formSubmit()">
                        <option value="" >근무지</option>
                        <th:block th:each="region :${regionList}">
                            <option th:value="${region.regName}" th:selected="${pageRequestDTO.filterRegion} == ${region.regName}"> [[${region.regName}]]</option>
                        </th:block>
                    </select>
                    <select class=" comMyPage-post-select" name="filterSalary" onchange="comMyPagePost.formSubmit()">
                        <option value="" >연봉대</option>
                        <th:block th:each="salary :${salaryList}">
                            <option th:value="${salary.salaryRange}" th:selected="${pageRequestDTO.filterSalary} == ${salary.salaryRange}"> [[${salary.salaryRange}]]</option>
                        </th:block>
                    </select>
                </div>

                <div class="col-lg-12 row comMyPage-post-search-sort_box">

                    <div class="col-lg-4 comMyPage-post-search-sort_box-sort">
                        <span> 정렬 : </span>
                        <select class="comMyPage-post-select" name="sort" onchange="comMyPagePost.formSubmit()" >
                            <option value="new" th:selected="${pageRequestDTO.sort =='new'}"> 최근 등록 순</option>
                            <option value="count" th:selected="${pageRequestDTO.sort =='count'}"> 조회수 많은 순</option>
                            <option value="salary" th:selected="${pageRequestDTO.sort =='salary'}">연봉 높은 순</option>
                            <option value="end" th:selected="${pageRequestDTO.sort =='end'}"> 모집종료 임박 순</option>
                        </select>
                    </div>
                    <div class="col-lg-4 offset-lg-4 d-flex comMyPage-post-search-sort_box-size ">
                        <span>표시 공고 : </span>
                        <ul class="d-flex comMyPage-post-ul-noDot sort_box-size align-items-center">
                            <li>
                                <input type="button" value="10" class="btn bg-gradient-dark comMyPage-post-search-sort-btn" onclick="comMyPagePost.formSubmitChangeSize(10)">
                            </li>
                            <li>
                                <input type="button" value="20" class="btn bg-gradient-dark comMyPage-post-search-sort-btn" onclick="comMyPagePost.formSubmitChangeSize(20)">
                            </li>
                            <li>
                                <input type="button" value="30" class="btn bg-gradient-dark comMyPage-post-search-sort-btn" onclick="comMyPagePost.formSubmitChangeSize(30)">
                            </li>
                        </ul>
                        <input type="hidden" name="size" th:value="${pageRequestDTO.size}" class="changeSizeInput">
                    </div>
                </div>

                </form>
            </section>

            <article class = "comMyPage-post-postList">
                <table class="row p-0 m-0">
                    <tbody class="col-lg-12">
                    <th:block th:each="dto:${result.dtoList}">
                        <tr class="row comMyPage-post-table_row p-0 mt-3 align-items-center" >
                            <td class="col-lg-2 p-2">
                                <figure>
                                    <img src="https://airweb.co.kr/data/file/logo_portfolio/3035080643_Mnu3Yx8U_ECA3BCEC8B9DED9A8CEC82AC_ECBC80EC9DB4EBB984EC94A8EC9794EC94A8.jpg" class="img-fluid d-block comMypage-post-img">
                                </figure>

                            </td>
                            <td class="col-lg-6 comMyPage-post-table_row-content p-3" th:onclick="|javascript:comMyPagePost.readPost('${dto.postId}')|" >
                                <ul class="nav flex-column">
                                    <li class="nav-item mb-2" style="color: #e6721d;font-size:15px">[[${dto.endDate}]]</li>
                                    <li class="nav-item mb-2"><h5>[[${dto.title}]]</h5></li>
                                    <li class="nav-item mb-2"><span style="font-size:14px">[[${dto.comName}]]</span></li>
                                    <li class="nav-item mb-2">[[${dto.recruitNum}]]명 / [[${dto.gender}]] / [[${dto.salaryRange}]]</li>
                                    <li class="nav-item mb-2">[[${dto.occName}]]</li>
                                    <li class="nav-item mb-2">[[${dto.region}]]</li>
                                </ul>
                            </td>
                            <td class="col-lg-3 h-100">
                                <ul class="nav flex-column align-items-end">
                                    <li class="nav-item mb-2" style="color: #333;font-size:15px">모집개시일: [[${dto.startDate}]]</li>
                                    <li class="nav-item mb-2" style="color: #333;font-size:15px">조회수: [[${dto.count}]]</li>
                                </ul>
                            </td>
                            <td class="col-lg-1 h-100 ">
                                <ul class="nav flex-column  align-items-center justify-content-evenly">
                                    <li><a th:onclick="|javascript:comMyPagePost.deleteByPostIdWithAjax('${dto.postId}')|"><span class="material-symbols-outlined">delete</span></a></li>
                                    <li><a th:onclick="|javascript:comMyPagePost.updatePost('${dto.postId}')|"><span class="material-symbols-outlined">edit_note</span></a></li>
                                </ul>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </article>
            <nav aria-label="Page navigation example" class="comMyPage-post-nav_box">
                <ul class="pagination justify-content-center ">
                    <li class="page-item" th:if="${result.prev}">
                        <a class="page-link" th:onclick="|javascript:comMyPagePost.formSubmitChangePage('${start - 1}')|">Previous</a>
                    </li>
                    <li th:class=" 'page-item' + ${result.page == page?active:''}" th:each="page: ${result.pageList}">
                        <a class="page-link" th:onclick="|javascript:comMyPagePost.formSubmitChangePage('${page}')|">[[${page}]]</a>
                    </li>
                    <li class="page-item" th:if="${result.next}">
                        <a class="page-link" th:onclick="|javascript:comMyPagePost.formSubmitChangePage('${start + 1}')|">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
        <script>
            comMyPagePost.init();
        </script>
    </th:block>
</th:block>