<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{mainPageTemplate ::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container">
            <div class="flex-row d-flex justify-content-center mt-3">
                <div style="height: 30px;"></div>
                <h3 class="text-center">채용공고 상세페이지</h3>
            </div>
            <div class="col p-0 d-flex">
                <div class="col-9 ps-0">
                    <div class="ps-5">
                        <div class="d-flex flex-row mt-2 ps-5">
                            <div class="d-flex col flex-row">
                                <div class="d-flex flex-fill">
                                    <div class="col-12">
                                        <img class="img-fluid" th:src="@{/img/testImage.png}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row mt-2 ps-5">
                            <div class="d-flex col flex-row">
                                <div class="d-flex flex-fill">
                                    <div class="col-12">
                                        <div>
                                            <div class="col-12 p-0">
                                                <h4> [[${dto.title}]] </h4>
                                            </div>
                                            <div class="d-flex">
                                                <div class="p-0">
                                                    <h6 class="">[[${dto.comName}]]</h6>
                                                </div>
                                                <div class="col-1 text-center">
                                                    <h6>|</h6>
                                                </div>
                                                <div class="col-1 p-0">
                                                    <h6 class="">[[${dto.salary}]]</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-row mt-2 ps-5">
                            <div class="d-flex col flex-row">
                                <div class="d-flex flex-fill">
                                    <div class="col-12">
<!--                                        <div class="" style="min-height: 50rem;">-->
                                        <div class="">
                                            [[${dto.content}]]
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-3 mb-3 border-top">
                        <div class="d-flex flex-row mt-2 ps-5">
                            <div class="d-flex col flex-row">
                                <div class="d-flex flex-fill">
                                    <div class="col-12">
                                        <div class="d-flex">
                                            <div class="col-2 p-0">
                                                <h6 class="text-secondary">마감일</h6>
                                            </div>
                                            <div class="col-3">
                                                <h6>[[${dto.endDate}]]</h6>
                                            </div>
                                            <div class="col-2 p-0">
                                                <h6 class="text-secondary">D-day</h6>
                                            </div>
                                            <div class="col-3">
                                                <h6>[[${dto.remainDay}]]</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row ps-5">
                            <div class="d-flex col flex-row">
                                <div class="d-flex flex-fill">
                                    <div class="col-12">
                                        <div class="d-flex">
                                            <div class="col-2 p-0">
                                                <h6 class="text-secondary">근무지역</h6>
                                            </div>
                                            <div class="col-10">
                                                <h6 class="post-details-postAddress">[[${dto.postAddress}]]</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="border-top">
                        <div class="d-flex flex-row ps-5">
                            <div class="d-flex col flex-row">
                                <div class="d-flex flex-fill">
                                    <div class="col-12">
                                        <div class="map_wrap mb-4">
                                            <div id="map"
                                                 style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
                                            <!-- 지도타입 컨트롤 div 입니다 -->
                                            <!--                                                <div class="custom_typecontrol radius_border">-->
                                            <!--                                                    <span id="btnRoadmap" class="selected_btn" onclick="setMapType('roadmap')">지도</span>-->
                                            <!--                                                    <span id="btnSkyview" class="btn" onclick="setMapType('skyview')">스카이뷰</span>-->
                                            <!--                                                </div>-->
                                            <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
                                            <div class="custom_zoomcontrol radius_border">
                                                <span onclick="zoomIn()"><img
                                                        src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png"
                                                        alt="확대"></span>
                                                <span onclick="zoomOut()"><img
                                                        src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png"
                                                        alt="축소"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-row ps-5">
                            <div class="d-flex col flex-row">
                                <div class="d-flex flex-fill">
                                    <div class="col-12">
                                        <div class="d-flex flex-fill">
                                            <div class="card flex-fill" style="background-color:rgba(0,0,0,0.13);">
                                                <div class="card-body d-flex">
                                                    <img class="col-2" src="/img/favicon.ico" width="30" height="30">
                                                    <h6 class="col-9 text-sm">본 채용정보는 굿잡의 동의없이 무단전재, 재배포, 재가공할 수 없으며,
                                                        구직활동
                                                        이외의
                                                        용도로 사용할 수 없습니다.</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-3 p-0 justify-content-center">
                    <div class="" style="position: sticky; top: 4rem">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-fill">
                                    <div class="inner-form">
                                        <button type="button" class="btn btn-link fs-5 text-dark border"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                style="border-radius: 2rem"
                                                onclick="getURI()"><i class="bi bi-share"></i></button>
                                    </div>
                                    <div class="col-5">
                                        <h6 class="text-center">업직종</h6>
                                    </div>
                                </div>
                                <div class="d-flex flex-fill">
                                    <div class="col-6">
                                        <h6>업직종</h6>
                                        <h6 class="text-secondary postDetailOccName">[[${dto.occName}]]</h6>
                                    </div>
                                    <div class="col-6">
                                        <h6>연봉</h6>
                                        <h6 class="text-secondary">[[${dto.salary}]]</h6>
                                    </div>
                                </div>
                                <div class="d-flex flex-fill">
                                    <div class="col-6">
                                        <h6>근무지</h6>
                                        <h6 class="text-secondary">[[${dto.regionName}]]</h6>
                                    </div>
                                    <div class="col-6">
                                        <h6>D-day</h6>
                                        <h6 class="text-secondary">[[${dto.remainDay}]]</h6>
                                    </div>
                                </div>
                                <div class="d-flex flex-fill mt-3">
                                    <div class="col-6">
                                        <a role="button" class="btn"
                                           style="color: #0d6efd; background-color: #fff; border-color: #0d6efd;"><i
                                                class="bi bi-bookmark"></i>북마크</a>
                                    </div>
                                    <div class="col-6">
<!--                                        <a role="button" class="btn"-->
<!--                                           style="color: #fff;  background-color: #0d6efd;  border-color: #0d6efd;">지원하기</a>-->
                                        <input type="hidden" th:value="${dto.postId}" id="postId">
                                        <button type="button" class="btn btn-primary applyBtn" data-bs-toggle="modal"
                                                data-bs-target="#selectResumeModal" style="color: #fff;  background-color: #0d6efd;  border-color: #0d6efd;">지원하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="post-wrapper ps-5 mt-5">
                <div class="ps-5">
                    <div class="col-12">
                        <div class="col-3">
                            <h4>추천공고</h4>
                        </div>
                    </div>
                    <div class="d-flex flex-row col changePostDiv row row-cols-1 row-cols-md-4" >
                        <th:block th:each="dto2:${result.dtoList}">
                        <div class="col-3 p-0" th:onclick="|javascript:comMyPagePost.readPost('${dto.postId}')|">
                            <div class="p-0 m-2 card-css ">

                                <div class="w-100 p-0 h-50 img-css">
                                    <img src="https://t1.daumcdn.net/cfile/tistory/237DF34C53EA159E08"
                                         class=" w-100 h-100 card-img-post">
                                </div>

                                <div class="h-41 align-self-auto pt-3 m-0 card-body-css">
                                    <p class="card-title-post">[[${dto2.title}]]</p>
                                    <p class="card-company-post">[[${dto2.comName}]]</p>
                                    <p class="card-text-post">연봉 | [[${dto2.salaryRange}]]</p>
                                    <p class="card-text-post">위치 | [[${dto2.regionName}]]</p>
                                    <p class="card-text-post">직종 | [[${dto2.occName}]]</p>
                                    <p class="card-dDay-post">[[${dto2.remainDay}]]</p>
                                </div>
                            </div>
                        </div>
                        </th:block>

                    </div>
                 </div>
            </div>


        </div>
        <div class="modal" tabindex="-1" id="exampleModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col-10">
                            <h5 class="modal-title">공유하기</h5>
                        </div>
                        <div class="col-2">
                            <a role="button" id="copy_btn" class="btn btn-link m-0 border"
                               style="color: #0022ff">
                                <i id="copy_icon" class="bi bi-clipboard fs-4"
                                   style="border-radius: 2rem"></i></a>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body mt-3">
                        <a th:href="${#request.requestURI}"><p id="setURI"></p></a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>


        </div>
        <!-- 박채원 22.10.26 추가 - 지원하기 버튼 눌렀을 때 뜨는 이력서 선택 모달 -->
        <div class="modal fade" id="selectResumeModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">이력서 선택</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="float: inline-start;">
                            <div class="resumeList">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn bg-gradient-primary doneSelectResume" data-bs-dismiss="modal">
                            완료
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=aedf851b3363925087804b263c52a803&libraries=services"></script>
        <script type="text/javascript" src="/js/osh/kakaoMap.js"></script>
        <script type="text/javascript" src="/js/applyJS.js"></script>
        <script>
            function getURI() {
                const url = window.location.protocol + "//" + window.location.host + window.location.pathname;
                $('#setURI').html(url);
            }

            $('#copy_btn').click(function () {

                const copyText = document.getElementById('setURI').textContent;
                let promise = navigator.clipboard.writeText(copyText);
                $('#copy_icon').attr('class', 'bi bi-clipboard-check fs-4 m-0')
            })

        </script>

    </th:block>
</th:block>
