<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/member/myPageTemplate ::setContent(~{this::content})}">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>이력서 관리</title>
        <link rel="stylesheet" type="text/css" href="/css/post-tbl.css">

    </head>
    <th:block th:fragment="content">

        <table>
            <thead>
            <tr>
                <th>회사</th>
                <th>제목</th>
                <th>모집시작일</th>
                <th>모집종료일</th>
                <th>직종</th>
                <th>모집인원</th>
                <th>성별</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="dto : ${result.dtoList}">
                <tr>
                    <th><span th:text="${dto.getComName}"></span></th>
                    <th>[[${dto.getPostTitle()}]]</th>
                    <th>[[${dto.postStartDate}]]</th>
                    <th>[[${dto.postEndDate}]]</th>
                    <th>[[${dto.occName}]]</th>
                    <th>[[${dto.postRecruitNum}]]</th>
                    <th>[[${dto.postGender}]]</th>
                </tr>
            </th:block>
            </tbody>
        </table>

        <div class="center">
            <div class="pagination">
                <a th:href="@{/p/list(page=${result.start -1})}"  th:if="${result.prev}">&laquo;</a>
                <th:block th:each="page:${result.pageList}">
                    <a th:href="@{/p/list(page=${page})}" >[[${page}]]</a>
                </th:block>
                <a th:href="@{/p/list(page=${result.end +1})}"  th:if="${result.next}">&raquo;</a>
            </div>
        </div>


    </th:block>
    </body>
</th:block>
</html>




