<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{post/layout/layout}" >

<th:block layout:fragment="layout_content">

    <!-- page content -->
    <div class="row">
        <div class="offset-md-2 col-md-8 mt-5" style="border: 1px solid black; padding: 5px;">
            <div class="m-5">

                <!-- 업종 저장 -->
                <div class="mt-5">
                    <h3>기업 업종 저장</h3>
                    <form th:action="@{/p/save}"  th:method="post">
                        <div class="row mb-3">
                             <label for="occCode-save" class="col-sm-2 col-form-label text-center">업종ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="occCode-save" name="occId">
                            </div>
                            <label for="occName-save" class="col-sm-2 col-form-label text-center">업종명</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="occName-save" name="occName">
                            </div>

                            <label for="postRecruitNum-save" class="col-sm-2 col-form-label text-center">인원</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="postRecruitNum-save" name="postRecruitNum">
                            </div>
                            <label for="postGender-save" class="col-sm-2 col-form-label text-center">성별</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="postGender-save" name="postGender">
                            </div>
                            <label for="postTitle-save" class="col-sm-2 col-form-label text-center">제목</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="postTitle-save" name="postTitle">
                            </div>

                            <label for="postContent-save" class="col-sm-2 col-form-label text-center">내용</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="postContent" rows="10" id="postContent-save" aria-label="With textarea"></textarea>
                            </div>

                            <label for="postStartDate-save" class="col-sm-2 col-form-label text-center">시작날짜</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="postStartDate-save" name="postStartDate">
                            </div>
                            <label for="postEndDate-save" class="col-sm-2 col-form-label text-center">종료날짜</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="postEndDate-save" name="postEndDate">
                            </div>

                            <div class="col-sm-10 align-content-center">
                                <button type="submit" class="btn btn-primary mt-3">저장</button>
                                <button type="button" class="btn btn-primary mt-3" th:href="@{/p/postList}">목록</button>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="mt-5">
                    <h3>기업 업종 저장</h3>
                    <form th:action="@{/p/save}"  th:method="post">

                    </form>

                </div>



            </div>
        </div>
    </div>






</th:block>

</html>

