<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/post-tbl.css">
</head>
<body>
    <p th:text="${pageDto.getContent()}"></p>
<!--    <p th:text="${pageDto.getContent().get(0).occupationDto)}"></p>-->
<!--    <p th:text="${pageDto.getContent().get(0).companyDto}"></p>-->

    <table>
        <thead>
            <tr>
                <th>회사</th>
                <th>제목</th>
                <th>직종</th>
                <th>모집종료일</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="post : ${pageDto.getContent()}">
            <tr>
                <th><span th:text="${post.getComName()}"></span></th>
                <th><span th:text="${post.getPostTitle()}"></span></th>
                <th><span th:text="${post.getOccName()}"></span></th>
                <th><span th:text="${post.getPostStartDate()}"></span></th>
                <th><span th:text="${post.getPostEndDate()}"></span></th>
                <th><span th:text="${post.getOccName()}"></span></th>
                <th><span th:text="${post.getPostEndDate()}"></span></th>
            </tr>
            </th:block>
        </tbody>
    </table>

</body>
</html>