<!--HO - 2022.10.05-->
<!--메인 창. -->
<!--기업회원가입페이지로 넘어가는 버튼 추가-->
<!--김도현 22.10.07 수정
    로그인 후 session 확인 및 로그아웃 버튼 추가 -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>메인 페이지</h2>
    <hr/>

    <button th:onclick="|location.href='@{/com/register}'|">회원가입</button> <br/>
    <button th:onclick="|location.href='@{/com/login}'|">기업회원 로그인</button>
    로그인 된 회원 아이디 :<span th:text="${session.sessionId}">message</span>
    <button class="btn btn-outline-light me-1" type="button"
            th:onclick="|location.href='@{/com/logout}'|">로그아웃</button>

    <h2>메인 페이지</h2>
    <hr/>

<form th:action="@{/auth/member/signUp}">
    <input type="submit" value="개인회원가입">
</form>
<form th:action="@{/auth/member/login}">
    <input type="submit" value="로그인">
</form>

    로그인 된 회원 아이디 :<span th:text="${session.sessionId}">message</span>
    <button class="btn btn-outline-light me-1" type="button"
            th:onclick="|location.href='@{/auth/member/logout}'|">로그아웃</button>


</body>
</html>