<th:block th:replace="~{mainPageTemplate ::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section>
            <div class="container py-4 flex-wrap">
                <div class="row">
                    <div class="col-lg-12 mx-auto">

                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner" style="width: 80rem; height: 30rem">
                                <div class="carousel-item active">
                                    <img src="img/meeting.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="img/nastuh.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="img/card-3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleIndicators"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                        <div class="container" style="height: 3rem;"></div>

                        <a th:href="@{/search}"><div class="container"
                             style="height: 7rem; background: linear-gradient(to right, #43c6ac, #191654); border-radius: 2rem;">
                            <div class="container" style="height: 2rem;"></div>
                            <h3 class="mx-auto text-center" style="color: white;">원하는 회사 또는 직종을 검색해보세요</h3>
                        </div></a>

                        <div class="container" style="height: 3rem;"></div>

<!--                        <div class="row">-->
<!--                            <div class="input-field">-->
<!--                                <a th:href="@{/search(sort='new', filterOccupation=${pageRequestDTO.filterOccupation},filterRegion=${pageRequestDTO.filterRegion},filterSalary=${pageRequestDTO.filterSalary})}"><button class="newBtn">최신순</button></a>-->
<!--                                <a th:href="@{/search(sort='salary',outOfDateState=${pageRequestDTO.outOfDateState},filterOccupation=${pageRequestDTO.filterOccupation},filterRegion=${pageRequestDTO.filterRegion},filterSalary=${pageRequestDTO.filterSalary})}"><button class="salaryBtn">연봉순</button></a>-->
<!--                                <a th:href="@{/search(sort='count',outOfDateState=${pageRequestDTO.outOfDateState},filterOccupation=${pageRequestDTO.filterOccupation},filterRegion=${pageRequestDTO.filterRegion},filterSalary=${pageRequestDTO.filterSalary})}"><button class="countBtn">인기순(조회수)</button></a>-->
<!--                                <a th:href="@{/search(sort='end',outOfDateState=${pageRequestDTO.outOfDateState},filterOccupation=${pageRequestDTO.filterOccupation},filterRegion=${pageRequestDTO.filterRegion},filterSalary=${pageRequestDTO.filterSalary})}"><button class="endBtn">종료마감 가까운 순</button></a>-->
<!--                            </div>-->
<!--                        </div>-->

                        <div class="container text-center" style="width: 40rem">
                            <div class="row">
                                <div class="col mx-auto">
                                    <button type="button" class="btn btn-outline-dark"
                                            style="border-radius: 3rem" onclick="postJS.list('count')">#인기있는
                                    </button>
                                </div>
                                <div class="col mx-auto">
                                    <button type="button" class="btn btn-outline-dark"
                                            style="border-radius: 3rem" onclick="postJS.list('salary')">#연봉이 높은
                                    </button>
                                </div>
                                <div class="col mx-auto">
                                    <button type="button" class="btn btn-outline-dark"
                                            style="border-radius: 3rem" onclick="postJS.list('new')">#최근등록된
                                    </button>
                                </div>
                                <div class="col mx-auto">
                                    <button type="button" class="btn btn-outline-dark"
                                            style="border-radius: 3rem" onclick="postJS.list('end')">#마감이임박한
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="container" style="height: 3rem;"></div>
                        <div class="container text-center ">
                            <h4>인기있는 공고 TOP8</h4>
                            <hr>
                            <div class="row row-cols-1 row-cols-md-4 g-4 p-0 changeContentDiv">
                                <th:block th:each="dto:${result.dtoList}">
                                    <div class="post-wrapper">
                                        <div class="col p-0">
                                            <div class="p-0 m-2 card-css" th:onclick="|location.href='@{/post/read(postId=${dto.id})}'|" >
                                                <div class="w-100 p-0 h-50 img-css" >
                                                    <img src="https://t1.daumcdn.net/cfile/tistory/237DF34C53EA159E08" class=" w-100 h-100 card-img-post">
                                                </div>

                                                <div class="h-41 align-self-auto pt-3 m-0 card-body-css">
                                                    <p class="card-title-post">[[${dto.title}]]</p>
                                                    <p class="card-company-post">[[${dto.comName}]]</p>
                                                    <p class="card-text-post">연봉 | [[${dto.salaryRange}]]</p>
                                                    <p class="card-text-post">위치 | [[${dto.regionName}]]</p>
                                                    <p class="card-text-post">직종 | [[${dto.occName}]]</p>
                                                    <p class="card-dDay-post">[[${dto.remainDay}]]</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>

                        <div class="container" style="height: 3rem;"></div>


                        <h4 class="text-center">요즘 트렌드 알아보기</h4>
                        <div class="container" style="height: 3rem;"></div>
                        <div class="container text-center">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col">
                                        <iframe width="550" height="300" src="https://www.youtube.com/embed/4lJ3sPYRULs"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        <iframe width="550" height="300" src="https://www.youtube.com/embed/T60L7oTUrGY"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                    </div>
                                    <div class="col">
                                        <iframe width="550" height="300" src="https://www.youtube.com/embed/fxdNDKh0EXw"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        <iframe width="550" height="300" src="https://www.youtube.com/embed/7NgHKdijT1I"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>