<th:block th:replace="~{mainPageTemplate ::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section>
            <div class="container py-4 flex-wrap">
                <div class="row">
                    <div class="s010">
                        <form>
                            <div class="inner-form">
                                <div class="basic-search">
                                    <div class="input-field">
                                        <input id="search" type="text" placeholder="Type Keywords"/>
                                        <div class="icon-wrap">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24">
                                                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="advance-search">
                                    <span class="desc">ADVANCED SEARCH</span>
                                    <div class="row">
                                        <div class="input-field">
                                            <div class="input-select">
                                                <select data-trigger="" name="filterOccupation">
                                                    <option placeholder="" value="">직종</option>
                                                    <th:block th:each="o:${occuAll}">
                                                        <option th:value="${o}" th:selected="${pageRequestDTO.filterOccupation == o}">[[${o}]]</option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-field">
                                            <div class="input-select">
                                                <select data-trigger="" name="filterRegion">
                                                    <option placeholder="" value="">지역</option>
                                                    <th:block th:each="r:${regName}" >
                                                        <option th:value="${r}" th:selected="${pageRequestDTO.filterRegion == r}">[[${r}]]</option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-field">
                                            <div class="input-select">
                                                <select data-trigger="" name="filterSalary">
                                                    <option placeholder="" value="">연봉</option>
                                                    <th:block th:each="s:${salaryRange}" >
                                                        <option th:value="${s}" th:selected="${pageRequestDTO.filterSalary == s}">[[${s}]]</option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row third">
                                        <div class="input-field">
                                            <div class="result-count">
                                                <span>108 </span>results
                                            </div>
                                            <div class="group-btn">
                                                <a th:href="@{/search}"><button class="btn-delete" id="delete">RESET</button></a>
                                                <button type="submit" class="btn-search">SEARCH</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="container" style="height: 3rem;"></div>
                    <h4>채용중인 공고</h4>
                    <div class="container text-center ">
                        <div class="row">
                            <th:block th:each="dto:${result.dtoList}">
                                <div class="col">
                                    <div class="card" style="width: 18rem;">
                                        <img src="img/40.jpg" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">[[${dto.title}]]</h5>
                                            <p class="card-subtitle mb-2 text-muted">[[${dto.comName}]]</p>
                                            <p class="card-text">연봉 | [[${dto.salaryRange}]]</p>
                                            <p class="card-text">위치 | [[${dto.regionName}]]</p>
                                            <p class="card-text">직종 | [[${dto.occName}]]</p>
                                            <p class="card-text">D-[[${dto.remainDay}]]</p>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>