<th:block th:replace="~{mainPageTemplate ::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section>
            <div class="container py-4 flex-wrap">
                <div class="row">
                    <div class="s010">
                        <form action="/search" method="post">
                            <div class="inner-form">
                                <div class="basic-search">
                                    <div class="input-field">
                                        <input id="search" name="searchWord" type="text" placeholder="검색어를 입력해주세요."/>
                                        <div class="icon-wrap">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24">
                                                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="advance-search">
                                    <span class="desc">ADVANCED SEARCH</span>
                                    <div class="row">
                                        <div class="input-field">
                                            <div class="input-select">
                                                <select data-trigger="" name="occupationDropdown">
                                                    <option placeholder="" value="">직종</option>
                                                    <th:block th:each="o:${occuAll}">
                                                        <option th:value="${o}">[[${o}]]</option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-field">
                                            <div class="input-select">
                                                <select data-trigger="" name="choices-single-defaul">
                                                    <option placeholder="" value="">지역</option>
                                                    <th:block th:each="r:${regName}">
                                                        <option>[[${r}]]</option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-field">
                                            <div class="input-select">
                                                <select data-trigger="" name="choices-single-defaul">
                                                    <option placeholder="" value="">연봉</option>
                                                    <th:block th:each="s:${regName}">
                                                        <option>[[${r}]]</option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row third">
                                        <div class="input-field">
                                            <div class="result-count">
                                                <span>108 </span>results
                                            </div>
                                            <div class="group-btn">
                                                <button class="btn-delete" id="delete">RESET</button>
                                                <button type="submit" class="btn-search">SEARCH</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="container" style="height: 3rem;"></div>
                    <h4>채용중인 공고</h4>
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img src="img/40.jpg" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">iOS Native 개발자</h5>
                                    <p class="card-text">아이픽셀(iPIXEL)</p>
                                    <p class="card-text">연봉 | 3100만원</p>
                                    <p class="card-text">위치 | 서울</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="img/40.jpg" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">ASP.NET 선임 개발자</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="img/40.jpg" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">React 프론트엔드 개발자</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="img/40.jpg" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">퍼블리셔</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </th:block>
</th:block>
<script>
    const customSelects = document.querySelectorAll("select");
    const deleteBtn = document.getElementById('delete')
    const choices = new Choices('select',
        {
            searchEnabled: false,
            itemSelectText: '',
            removeItemButton: true,
        });
    for (let i = 0; i < customSelects.length; i++)
    {
        customSelects[i].addEventListener('addItem', function(event)
        {
            if (event.detail.value)
            {
                let parent = this.parentNode.parentNode
                parent.classList.add('valid')
                parent.classList.remove('invalid')
            }
            else
            {
                let parent = this.parentNode.parentNode
                parent.classList.add('invalid')
                parent.classList.remove('valid')
            }
        }, false);
    }
    deleteBtn.addEventListener("click", function(e)
    {
        e.preventDefault()
        const deleteAll = document.querySelectorAll('.choices__button')
        for (let i = 0; i < deleteAll.length; i++)
        {
            deleteAll[i].click();
        }
    });
</script>