<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="sideBar">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; min-height: 1000px">
        <a th:href="@{/admin}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <b class="fs-4">GOODJOB<h6 class="text-white">관리자페이지</h6></b>
        </a>
        <hr>
        <ul class="nav nav-item flex-column mb-auto">
            <li class="nav-item">
                <a th:href="@{/admin}" class="nav-link text-white" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    Admin Home
                </a>
            </li>
            <li>
                <a th:href="@{/admin/postManage/{pageNum}(pageNum=1)}" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    공고 현황
                </a>
            </li>
<!--            <li>-->
<!--                <a th:href="@{/admin/memberManage}" class="nav-link text-white">-->
<!--                    <svg class="bi pe-none me-2" width="16" height="16">-->
<!--                        <use xlink:href="#table"></use>-->
<!--                    </svg>-->
<!--                    회원 현황-->
<!--                </a>-->
<!--            </li>-->
            <li>
                <a th:href="@{/admin/notice/{pageNum}(pageNum=1)}" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#grid"></use>
                    </svg>
                    공지사항
                </a>
            </li>
            <li>
                <a th:href="@{/admin/customerInquiry/{pageNum}(pageNum=1,sort='inquiryPostId')}" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#grid"></use>
                    </svg>
                    고객문의
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link text-white" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    GOODJOB Home
                </a>
            </li>
            <li>
                <a href="javascript:logout()" class="nav-link text-white">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#people-circle"></use>
                    </svg>
                    로그아웃
                </a>
            </li>
        </ul>
        <hr>
    </div>
    <script>
        function logout() {
            if (confirm("로그아웃 하시겠습니까?") == true){
                $.ajax({
                    url: "/admin/logout",
                    type: "post",
                    success: function () {
                        location.href = "/";
                    }
                })
            } else {

            }

        }
    </script>
</th:block>
</body>
</html>